@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
.outer-container-menu {
  grid-column: 1 / 2;
  background-color: #f7f7ff;
  display: grid;
  justify-content: stretch;
}

.rcsa-logo {
  padding-top: 0.3em;
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 25px;
  color: #333951;
  display: flex;
  justify-content: center;
}

.navigation-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
