.posts-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 10% 90%;
  column-gap: 0.2em;
}
.map-container-mine {
  grid-column: 1/9;
}

.side-lists {
  grid-column: 9/11;
  max-height: 100vh;
  overflow: auto;
}
