@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.calendar-container {
  display: grid;
  grid-template-rows: 15% 10% 75%;
  width: 40%;
}

.calendar-core {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 8px 5px;
  font-family: Ubuntu;
  margin: 4px;
}

.set-yesterday-button {
  grid-column: 3 / span 3;
  align-self: center;
}

.set-today-button {
  grid-column: 6 / span 2;
  align-self: center;
}
.clear-button {
  grid-column: 8 / span 2;
  align-self: center;
}

.row1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row2 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-self: stretch;
}

.row2 h3 {
  font-weight: 900;
  padding: 0;
  margin: 0;
  /* justify-self: flex-start; */
}

.icons-container {
  margin-left: auto;
}

.select-button {
  margin: 0 auto;
}

.ant-btn {
  border-color: transparent;
}
