@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.calendar-container {
  grid-column: 1/11;
  justify-self: center;
  /* margin: 0 auto; */
  grid-row: 2/3;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 15% 10% 75%;
  /* width: 95; */
  box-shadow: 3px 2px 30px 3px rgba(108, 99, 255, 0.2);
  border-radius: 15px;
  padding: 1em;
}

.calendar-core {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-self: center;
  grid-template-columns: repeat(10, 1fr);
  gap: 8px 5px;
  font-family: Ubuntu;
  margin: 4px;
  width: 100%;
}

.set-yesterday-button {
  grid-column: 3 / span 3;
  align-self: center;
}

.set-today-button {
  grid-column: 6 / span 2;
  align-self: center;
}
.clear-button {
  grid-column: 8 / span 2;
  align-self: center;
}

.row1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row2 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-self: stretch;
}

.row2 h3 {
  font-weight: 900;
  padding: 0;
  margin: 0;
}

.icons-container {
  margin-left: auto;
}

.select-button {
  margin: 0 auto;
}

.ant-btn {
  border-color: transparent;
}
