.user-details-container {
  grid-column: 6/8;
  padding-top: 10vh;
}

.user-details-form {
  display: grid;
}

.select-input-styles {
  width: 50%;
  padding-left: 0.3em;
  border: none;
  outline: none;
  background: #eff0f6;
}

.select-input-styles:focus {
  border: none;
  outline: none;
}

.switch {
  margin-left: 0.5em;
}
