.footer {
  grid-column: 1 / span 12;
  grid-row: 3/4;
  display: flex;
  font-size: 12px;
  font-weight: 300;
  justify-content: center;
  align-items: center;
}

.footer span {
  padding: 5px;
  border-right: 1px solid black;
}

.footer span:last-child {
  border-right: none;
}
