.admin-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 10px;
  height: 100vh;
}

.verticle-line {
  height: 80vh;
  width: 50%;
  align-self: center;
  border-right: 2px solid black;
  opacity: 5%;
}

.input-styles {
  border-radius: 10px;
  height: 4em;
  background: #eff0f6;
}

.top-margin {
  margin-top: 0.5em;
}

.modal-form {
  display: grid;
  row-gap: 0.5em;
}

.select-input-styles {
  width: 50%;
  padding-left: 0.3em;
  border: none;
  outline: none;
  background: #eff0f6;
}

.select-input-styles:focus {
  border: none;
  outline: none;
}
